html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 95%;
}

header {
  width: 100%;
  background-color: white;
  opacity: 0.5;
  padding: 0.8rem;

  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 2rem;
}

body {
  background-color: rgb(201, 57, 57);
}
